body {
    background: #f8f8f8;
    color: #000000;
    font-size: 1em;
    font-family: sans-serif;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.1;
    color: #444;
}

a {
    color: #1863a1;
}

li {
    padding-bottom: 0.75em;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #666;
    text-decoration: none;
}

.btn-primary {
    background: #252e3f;
    color: #f2f2f2;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #353e5f;
    color: #b7c1d5;
    box-shadow: none;
}

.btn-primary:active, .btn-primary.active {
    background: #353e5f;
    box-shadow: none;
}

.text-center {
    text-align: center;
}

.hint {
    font-size: 0.9em;
    color: #444;
}

.img-center {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-center > div {
    font-size: 0.7em;
    padding: 1.4em;
    text-align: center;
}

.img-center > div:hover {
    border-radius: 4px;
    background: rgb(230, 230, 230);
}

.img-center > div > a {
    text-decoration: solid;
    display: flex;
    flex-direction: column;
}

.qrcode {
    padding: 20px;
    width: fit-content;
    height: fit-content;
    background-color: white;
    margin: 10px auto;
}

.uri-input {
    width: 100%;
    padding: 5px !important;
    border: solid black 1px !important;
    margin-top: 0.25em;
}

.input-group {
    margin: 0;
    padding: 0;
    margin-bottom: 0.75em !important;
}

.input-group input {
    background-color: red !important;
    margin-top: 0.5em !important;
    margin-left: 0px !important;
}

@media (prefers-color-scheme: dark) {
    body {
        color: rgb(222 226 230);
        background: rgb(33 37 41);
    }

    h3 {
        color: rgb(255 255 255);
    }

    a {
        color: rgb(37 183 249);
    }

    a:hover,
    a:focus {
        color: rgb(122 172 216);
    }

    input.form-control {
        color: #fff;
        -webkit-box-shadow: inset 0 -1px 0 rgb(60 60 60);
        box-shadow: inset 0 -1px 0 rgb(60 60 60);
    }

    input.form-control:focus-visible {
        outline: 1px solid rgb(73 83 94);
    }

    .hint {
        color: rgb(204 204 204);
    }

    .img-center > div:hover {
        background: rgb(40 45 51);
    }

    .btn-primary {
        background: rgb(59 73 99);
    }
}

.client-link {
    width: 5rem;
    height: 5rem;
    padding: 2rem !important;
}

.star {
    width: 5rem;
    text-align: left;
    position: absolute;
    font-size: 16pt;
}
